
#intro{
    height: auto;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    background-color: var(--col-4-);
}
#conForm{
    height: auto;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: var(--col-1-);

    & form{
        position: relative;
        height: auto;
        width: 980px;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        gap: 50px;

        & .Tinput{
            height: 30px;
            width: 90%;
            padding: 10px 5%;
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: solid var(--col-3-) 1px;

            font-size: var(--sz-5-);
            font-family: var(--font-2-);
            line-height: 160%;
            font-weight: 400;
            color: var(--col-5-);
        }
        & .TEinput{
            height: 100px;
            width: 90%;
            padding: 10px 5%;
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: solid var(--col-3-) 1px;

            font-size: var(--sz-5-);
            font-family: var(--font-2-);
            line-height: 160%;
            font-weight: 400;
            color: var(--col-5-);
        }
        & .information2{
            align-items: center;

            & *{
                text-align: center;
                text-transform: none;
                color: var(--col-5-);
            }
        }
        & .info2{

            & *{
                text-transform: none;
                color: var(--col-5-);
            }
        }
    }
}
#inForm{
    height: auto;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: var(--col-1-);

    & form{
        position: relative;
        height: 100px;
        width: 980px;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        gap: 50px;
        background-color: var(--col-4-);
        -webkit-box-shadow: 10px 10px 30px 10px rgb(190, 190, 190); 
        box-shadow: 10px 10px 30px 10px rgb(190, 190, 190);

        & .Tinput{
            height: 30px;
            width: 90%;
            padding: 10px 5%;
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: solid var(--col-3-) 1px;

            font-size: var(--sz-5-);
            font-family: var(--font-2-);
            line-height: 160%;
            font-weight: 400;
            color: var(--col-5-);
        }
        & .TEinput{
            height: 100px;
            width: 90%;
            padding: 10px 5%;
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: solid var(--col-3-) 1px;

            font-size: var(--sz-5-);
            font-family: var(--font-2-);
            line-height: 160%;
            font-weight: 400;
            color: var(--col-5-);
        }
        & .information2{
            align-items: center;

            & *{
                text-align: center;
                text-transform: none;
                color: var(--col-5-);
            }
        }
        & .info2{

            & *{
                text-transform: none;
                color: var(--col-5-);
            }
        }
        &.active{
            height: auto;
        }
    }
    & #fold1{
        height: 80px;
        width: 100px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
        border: none;
        z-index: 15;

        & i{
            rotate: 0deg;
        }
        &.active{
            rotate: 180deg;
        }
    }
    & #mI6{
        display: none;
    }
    
}
@media (max-width: 1024px){
    #inForm{
        
        & form{
            height: 180px;
            width: 80vw;
            padding: 5vh 5vw;

            & .information2{
                width: 80vw;
            }
            & .info2{
                width: 80vw;
            }
        }
    }
}