






#designIntro{
    padding-top: 0;
}
#color{
    & .pic{
        position: relative;
        height: auto;
        width: 80vw;

        & img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
#fonts{
    overflow: hidden;

    & .fonts{
        padding: 20px 0;
        margin-left: 0;
        background-color: var(--col-5-);

        & *{
            flex: none;
        }
        
        &:nth-child(2){
            animation: scroll1 20s linear infinite;
        }
        &:nth-child(3){
            animation: scroll2 20s linear infinite;

            & *{
                font-family: var(--font-1-);
            }
        }
        &:nth-child(4){
            animation: scroll1 20s linear infinite;
        }
    }
}
@keyframes scroll1{
    0%{margin-left: 0;}
    50%{margin-left: -100vw;}
    100%{margin-left: 0;}
}
@keyframes scroll2{
    0%{margin-left: -100vw;}
    50%{margin-left: 0;}
    100%{margin-left: -100vw;}
}
#webIntro{
    background-color: var(--col-4-);
}
#zoom{
    padding: 0;
    width: 100vw;
    aspect-ratio: 5 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    & img{
        margin-bottom: -10%;
        width: 130%;
        scale: 1;
        transition: all 3s ease;
        z-index: -4;

        &.active{
            scale: 0.7;
        }
    }
}
#cc{
    padding-top: 50px;
}

#seo{

    & h1{
        font-size: 580px;
        font-family: var(--font-1-);
        line-height: 80%;
    }
}
#res{
    gap: 0px;
    padding: 200px 0;

    & .devices{
        width: 900px;
        z-index: 4;
    }
    & .info2{
        margin-top: -350px;
        z-index: 4;
    }
    
    & .table{
        position: relative;
        margin-top: -60px;
        height: 60px;
        width: 95vw;
        background-color: var(--col-4-);

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            border-top: solid var(--col-1-) 30px;
            border-left: solid var(--col-1-) 100px;
            border-bottom: solid transparent 30px;
            border-right: solid transparent 100px;
        }
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            border-top: solid var(--col-1-) 30px;
            border-right: solid var(--col-1-) 100px;
            border-bottom: solid transparent 30px;
            border-left: solid transparent 100px;
        }
    }
    & .shad{
        position: relative;
        height: 450px;
        width: 95vw;
        background: linear-gradient(180deg, rgb(230, 230, 230) 0%, var(--col-1-) 90%);

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            border-top: solid var(--col-1-) 100px;
            border-left: solid var(--col-1-) 0px;
            border-bottom: solid transparent 100px;
            border-right: solid transparent 0px;
        }
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            border-top: solid var(--col-1-) 100px;
            border-right: solid var(--col-1-) 0px;
            border-bottom: solid transparent 100px;
            border-left: solid transparent 0px;
        }
    }
}
#kunst{
    padding: 400px 0;

    & .info2{
        *{
            color: var(--col-1-);
        }
        h5{
            margin-left: 300px;
        }
    }
    & .back{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-top: solid var(--col-1-) 100px;
        border-right: solid var(--col-1-) 50vw;
        border-bottom: solid transparent 100px;
        border-left: solid transparent 50vw;
        z-index: 10;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: solid var(--col-1-) 100px;
        border-left: solid var(--col-1-) 50vw;
        border-top: solid transparent 100px;
        border-right: solid transparent 50vw;
        z-index: 10;
    }
}
#mc{
    & .pic{

        img{
            height: 100%;
            width: 120%;
            object-fit: contain;
        }
    }
}
#sumIntro{
    background-color: var(--col-4-);
    gap: 100px;
    padding-bottom: 200px;

    & .infoW1{
        align-items: center;

        & .pic{
            position: relative;
            aspect-ratio: 1 / 1;
            background: linear-gradient(135deg, var(--col-b3-) 10%,var(--col-b2-) 50%, var(--col-b3-) 50%, var(--col-b2-) 75%, var(--col-b1-) 100%);
            -webkit-box-shadow: 10px 10px 40px 0px var(--col-3-); 
            box-shadow: 10px 10px 40px 0px var(--col-3-);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 4;

            & h1{
                font-family: var(--font-1-);
                font-weight: 800;
                z-index: 10;
                color: var(--col-4-);       
            }
            &::before{
                content: "";
                position: absolute;
                height: 98%;
                width: 98%;
                background: radial-gradient(circle at 110% 110%, transparent 85%,  var(--col-b3-) 110%);
                z-index: 5;
            }
            &::after{
                content: "";
                position: absolute;
                height: 98%;
                width: 98%;
                background: radial-gradient(circle at -30% -40%, var(--col-5-) 20%, var(--col-2-) 75%, var(--col-b3-) 80%, var(--col-b2-) 90%,  var(--col-b1-) 95%);
                z-index: 3;
            }
        }
    }
}
#sum{
    position: relative;
    height: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: 100px;
    z-index: -10;

        & #z{
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        & img, video{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 2;
            filter: brightness(60%);
            transform: rotateX(180deg) rotateY(180deg);
        }
        & .arrow{
            position: absolute;
            z-index: 3;
            color: var(--col-4-);

            &:nth-child(2){
                top: 100px;
                left: 50px;
                rotate: 135deg;
            }
            &:nth-child(3){
                top: 100px;
                right: 50px;
                rotate: -135deg;
            }
            &:nth-child(4){
                bottom: 50px;
                left: 50px;
                rotate: 45deg;
            }
            &:nth-child(5){
                bottom: 50px;
                right: 50px;
                rotate: -45deg;
            }
        }
        & #stopButton{
            position: absolute;
            bottom: 80px;
            right: 80px;
            height: 100px;
            width: 100px;
            background-color: transparent;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 20;
    
            & i{
                color: var(--col-4-);
                font-weight: 200;
                transition: all 100ms linear;
            }
            &.go{
                & i:nth-child(1){
                    position: relative;
                    opacity: 1;
                    z-index: 20;
                }
                & i:nth-child(2){
                    position: absolute;
                    opacity: 0;
                    z-index: -20;
                }
            }
            &.stop{
                & i:nth-child(1){
                    position: absolute;
                    opacity: 0;
                    z-index: -20;
                }
                & i:nth-child(2){
                    position: relative;
                    opacity: 1;
                    z-index: 20;
                }
            }
        }
        }
        & *{
            color: var(--col-4-);
        }
        & .info2{
            width: 600px;
            gap: 80px;

            & h4{
                width: 400px;
                padding: 0 30px;
                transition: all 1.5s ease;

                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 30px;
                    width: 5px;
                    background-color: var(--col-4-);
                }
            }
        }
}
#manage{
    padding: 200px 0 300px 0;
    overflow: hidden;

    & i{
        position: absolute;
        color: var(--col-1-);

        &.one{
            font-size: 75vw;
            right: -20%;
            animation: rot 20s infinite linear;
        }
        &.two{
            font-size: 35vw;
            left: -20%;
            bottom: -10%;
            animation: rot 20s infinite linear;
        }
    }

}
@keyframes rot{
    from{rotate: 0deg;}
    to{rotate: 360deg;}
}
#angebote{
    height: auto;
    width: 80vw;
    padding: 100px 10vw 0 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 80px;
    
    & section{
        position: relative;
        height: auto;
        width: 200px;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        border-bottom: solid var(--col-3-) 1px;

        & .topLink{
            position: absolute;
            top: 10px;
            right: 10px;
            
            & i{
                font-weight: 500;
            }
        }
        & article{
            height: 120px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;

            & h5{
                font-weight: 600;
            }
            & h6{
                color: var(--col-3-);
            }
            & *{
                text-align: center;
            }
        }
        & .dp{
            position: relative;
            aspect-ratio: 1 / 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;


            & img{
                width: 100%;
            }
        }
        & .ws{
            position: relative;
            width: 70%;
            aspect-ratio: 1 / 1;
            background: linear-gradient(135deg, var(--col-b3-) 10%,var(--col-b2-) 50%, var(--col-b3-) 50%, var(--col-b2-) 75%, var(--col-b1-) 100%);
            -webkit-box-shadow: 10px 10px 40px 0px var(--col-3-); 
            box-shadow: 10px 10px 40px 0px var(--col-3-);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 4;

            & h2{
                font-size: var(--sz-3-);
                font-family: var(--font-1-);
                font-weight: 800;
                z-index: 10;
                color: var(--col-4-);       
            }
            &::before{
                content: "";
                position: absolute;
                height: 98%;
                width: 98%;
                background: radial-gradient(circle at 110% 110%, transparent 85%,  var(--col-b3-) 110%);
                z-index: 5;
            }
            &::after{
                content: "";
                position: absolute;
                height: 98%;
                width: 98%;
                background: radial-gradient(circle at -30% -40%, var(--col-5-) 20%, var(--col-2-) 75%, var(--col-b3-) 80%, var(--col-b2-) 90%,  var(--col-b1-) 95%);
                z-index: 3;
            }
        }
        & .ma{
            rotate: 30deg;
        }
    }
}

@media (max-width: 1024px){
    #zoom{

        & img{
            scale: 0.7;
        }
    }
    #seo{

        & h1{
            font-size: 45vw;
        }
    }
    #res{
    
        & .devices{
            width: 70vw;
        }
        & .table{
            width: 100vw;
        }
        & .shad{
            width: 100vw;
        }
    }
    #kunst{
        padding: 300px 0;
    
        & .info2{
            h5{
                margin-left: 0px;
            }
        }
        &::before{
            border-top: solid var(--col-1-) 50px;
            border-bottom: solid transparent 50px;
        }
        &::after{
            border-bottom: solid var(--col-1-) 50px;
            border-top: solid transparent 50px;
        }
    }
    #sumIntro{
    
        & .infoW1{
            & .info1{
                align-items: center;

                *{
                    text-align: center;
                }
            }
            & .pic{
                width: 300px;
    
                & h1{
                    font-size: var(--sz-2-);     
                }
            }
        }
    }
    #sum{
    
        & #z{
            & .arrow{
                display: none;
            }
            & #stopButton{
                bottom: 30px;
                right: 30px;
            }
        }
        & .info2{
            width: 90vw;
        }
    }
    #manage{
    
        & i{
    
            &.one{
                bottom: 5%;
            }
            &.two{
                bottom: 0%;
            }
        }
    
    }
}