:root{
    --col-1-: rgb(250, 250, 250);
    --col-2-: rgb(0, 0, 0);
    --col-3-: rgb(134, 134, 139);
    --col-4-: rgb(240, 240, 240);
    --col-5-: rgb(18, 18, 18);
    --col-6-: rgb(229, 128, 45);
    --col-7-: rgb(185, 8, 230);
    --col-8-: rgb(23, 106, 214);
    --col-9-: rgb(98, 213, 48);
    --col-6-2-: rgb(188, 76, 3);
    --col-7-2-: rgb(127, 7, 158);
    --col-8-2-: rgb(17, 67, 132);
    --col-9-2-: rgb(1, 145, 42);
    --col-6-3-: rgb(255, 184, 136);
    --col-7-3-: rgb(228, 129, 253);
    --col-8-3-: rgb(130, 180, 246);
    --col-9-3-: rgb(109, 246, 148);

    --font-1-: "Kanit", sans-serif;
    --font-2-: "Roboto", sans-serif;

    --sz-1-: 11.089rem;
    --sz-2-: 6.854rem;
    --sz-3-: 4.236rem;
    --sz-4-: 2.618rem;
    --sz-5-: 1.618rem;
    --sz-6-: 1.1rem;
    --sz-7-: 0.90rem;
}

*{
    margin: 0;
    padding: 0;
    color: var(--col-2-);
}
html{
    height: auto;
    font-size: 13px;
    scroll-behavior: smooth;
}
body{
    background-color: var(--col-1-);
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}
@media (max-width: 1024px){
    html{
        height: auto;
        font-size: 12px;
    } 
}
@media (max-width: 768px){
    html{
        height: auto;
        font-size: 11px;
    } 
    :root{
        --sz-1-: 10rem;
        --sz-2-: 6rem;
        --sz-6-: 1.2rem;
        --sz-7-: 1.1rem;
    }
}
@media (max-width: 480px){
    html{
        height: auto;
        font-size: 10px;
    } 
    :root{
        --sz-1-: 9rem;
        --sz-2-: 5rem;
        --sz-6-: 1.4rem;
        --sz-7-: 1.2rem;
    }
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--col-1-);
    z-index: 4;

    &.normal{
        height: auto;
        padding: 10vh 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
    }
}
.dark-background{
    background-color: var(--col-2-);

    & *{
        color: var(--col-4-);
    }
}
div{
    z-index: 2;
}
img{
    z-index: 2;
}
h1{
    font-size: var(--sz-1-);
    font-family: var(--font-1-);
    font-weight: 600;
    line-height: 80%;
}
h2{
    font-size: var(--sz-2-);
    font-family: var(--font-2-);
    font-weight: 500;
    line-height: 100%;
}
h3{
    font-size: var(--sz-3-);
    font-family: var(--font-2-);
    font-weight: 500;
    line-height: 110%;
}
h4{
    font-size: var(--sz-4-);
    font-family: var(--font-2-);
    font-weight: 600;
    line-height: 110%;
}
h5{
    font-size: var(--sz-5-);
    font-family: var(--font-2-);
    font-weight: 400;
    line-height: 140%;
}
h6{
    font-size: var(--sz-6-);
    font-family: var(--font-2-);
    font-weight: 400;
    line-height: 140%;

}
p{
    width: auto;
    font-size: var(--sz-7-);
    font-family: var(--font-2-);
    line-height: 160%;
    font-weight: 400;
    color: var(--col-2-);
}
a{
    font-size: var(--sz-7-);
    font-family: var(--font-2-);
    line-height: 140%;
    font-weight: 400;
    text-decoration: none;
}


.bt1{
    position: relative;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: transparent;
    border: solid var(--col-2-) 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 500ms ease;

    & *{
        color: var(--col-2-);
        font-weight: 400;
        z-index: 3;
        transition: all 500ms ease;
    }
    &::after{
        content: "";
        position: absolute;
        right: -110%;
        height: 110%;
        width: 110%;
        background-color: var(--col-8-);
        z-index: 1;
        transition: all 500ms ease;
    }
    &:hover{
        border: solid var(--col-8-) 1px;
        -webkit-box-shadow: 0px 5px 6px -3px var(--col-8-), 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 5px 6px -3px var(--col-8-), 5px 5px 15px 5px rgba(0,0,0,0);

        & *{
            color: var(--col-1-);
        }
        &::after{
            right: -5%;
        }
    }
    &.dark{
        border: solid var(--col-1-) 1px;

        & *{
            color: var(--col-1-);
        }
        &:hover{
            border: solid var(--col-8-) 1px;
        }
    }
}
.bt11{
    position: relative;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: transparent;
    border: solid var(--col-3-) 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 500ms ease;

    & *{
        color: var(--col-3-);
        font-weight: 400;
        z-index: 3;
        transition: all 500ms ease;
    }
    &::after{
        content: "";
        position: absolute;
        right: -110%;
        height: 110%;
        width: 110%;
        background-color: var(--col-8-);
        z-index: 1;
        transition: all 500ms ease;
    }
    &:hover{
        border: solid var(--col-8-) 1px;
        -webkit-box-shadow: 0px 5px 6px -3px var(--col-8-), 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 5px 6px -3px var(--col-8-), 5px 5px 15px 5px rgba(0,0,0,0);

        & *{
            color: var(--col-1-);
        }
        &::after{
            right: -5%;
        }
    }
    &.dark{
        border: solid var(--col-1-) 1px;

        & *{
            color: var(--col-1-);
        }
        &:hover{
            border: solid var(--col-8-) 1px;
        }
    }
}
.bt2{
    position: relative;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: transparent;
    border: solid var(--col-2-) 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & *{
        color: var(--col-2-);
        font-weight: 400;
        z-index: 3;
        transition: all 500ms ease;
    }
    &::after{
        content: "";
        position: absolute;
        right: -110%;
        height: 110%;
        width: 110%;
        background-color: var(--col-2-);
        z-index: 1;
        transition: all 500ms ease;
    }
    &:hover{
        & *{
            color: var(--col-1-);
        }
        &::after{
            right: -5%;
        }
    }
}
.bt3{
    position: relative;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: transparent;
    border: solid var(--col-2-) 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & *{
        color: var(--col-2-);
        font-weight: 400;
        z-index: 3;
        transition: all 500ms ease;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: -110%;
        height: 110%;
        width: 110%;
        background-color: var(--col-2-);
        z-index: 1;
        transition: all 500ms ease;
    }
    &:hover{
        & *{
            color: var(--col-1-);
        }
        &::after{
            bottom: -5%;
        }
    }
}
.bt31{
    position: relative;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: transparent;
    border: solid var(--col-1-) 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & *{
        color: var(--col-1-);
        font-weight: 400;
        z-index: 3;
        transition: all 500ms ease;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: -110%;
        height: 110%;
        width: 110%;
        background-color: var(--col-1-);
        z-index: 1;
        transition: all 500ms ease;
    }
    &:hover{
        & *{
            color: var(--col-2-);
        }
        &::after{
            bottom: -5%;
        }
    }
}
.sB{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: var(--col-2-);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 500ms ease;

    & *{
        position: absolute;
        color: var(--col-4-);
        font-weight: 400;
        z-index: 3;
        transition: all 300ms ease;
    }
    &:hover{
        background-color: var(--col-5-);

        & *{
            color: var(--col-1-);
        }
    }
}

.reveal1, .reveal2, .reveal3{
    position: relative;
    opacity: 0;
    transform: translateY(80px);
    pointer-events: none;
    z-index: -2;
    transition: all 1s ease;

    &.active{
        opacity: 1;
        transform: translateY(0px);
        pointer-events: all;
        z-index: 2;
    }
}
@media (max-width: 1024px){
    .reveal1, .reveal2, .reveal3{
        position: relative;
        opacity: 1;
        transform: translateY(0);
        pointer-events: none;
        z-index: 2;
    }
}
*.up{
    text-transform: uppercase;
}





*.information1{
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 150px;
    row-gap: 50px;

    & *{
        color: var(--col-3-);
    }
    & .pic{
        flex: none;
        position: relative;
        width: 340px;
        aspect-ratio: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        & img{
            width: 100%;
        }
    }
    & .info1{
        position: relative;
        height: auto;
        width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 35px;

        & .group{
            position: relative;
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;
        }
    }
}
*.information2{
    position: relative;
    height: auto;
    width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;

    & *{
        color: var(--col-3-);
    }
    & .group{
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
    }
}
*.information3{
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 30px;

    & *{
        color: var(--col-3-);
    }
    & .pic{
        flex: none;
        position: relative;
        width: 400px;
        aspect-ratio: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    & .info1{
        position: relative;
        height: auto;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 35px;

        & .group{
            position: relative;
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;
        }
    }
}
*.info1{
    position: relative;
    height: auto;
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
*.info2{
    position: relative;
    height: auto;
    width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    & h6{
        color: var(--col-3-);
        text-transform: uppercase;
    }
}
*.picWrap2{
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;

    & .pic{
        flex: none;
        position: relative;
        width: 480px;
        aspect-ratio: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}
*.topSpace{
    margin-top: 150px;
}
*.sumButton{
    flex: none;
    position: relative;
    height: 25px;
    aspect-ratio: 1 / 1;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

    & i{
        color: var(--col-3-);
        font-weight: 300;
    }
    & p{
        position: absolute;
        margin-bottom: 10px;
    }
}
*.formTeil1{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    & .checkStyle1{
        position: relative;
        padding: 5px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & input[type="checkbox"]{
            appearance: none;
            -webkit-appearance: none;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: var(--col-4-);
            accent-color: var(--col-5-);
            border: none;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        & label{
            color: var(--col-5-);
            font-size: var(--sz-5-);
            font-family: var(--font-2-);
            font-weight: 400;
            line-height: 140%;
            z-index: 3;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
*.formTeil2{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    & .checkStyle1{
        position: relative;
        padding: 5px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & input[type="checkbox"]{
            appearance: none;
            -webkit-appearance: none;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: var(--col-4-);
            accent-color: var(--col-5-);
            border: none;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &::after{
                content: "";
                position: absolute;
                top: 100%;
                height: 1px;
                width: 0%;
                background-color: var(--col-5-);
                transition: all 300ms ease;
            }
        }
        & label{
            color: var(--col-5-);
            font-size: var(--sz-5-);
            font-family: var(--font-2-);
            font-weight: 400;
            line-height: 140%;
            z-index: 3;
            text-decoration: none;
        }
        & input[type="checkbox"]:checked::after{
            width: 100%;
        }
    }
}
*.formTeil3{
    position: relative;
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    & .checkStyle1{
        position: relative;
        height: 600px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & input[type="checkbox"]{
            appearance: none;
            -webkit-appearance: none;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: var(--col-4-);
            accent-color: var(--col-5-);
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 300ms ease;

            &::after{
                content: "";
                position: absolute;
                top: 100%;
                height: 2px;
                width: 0%;
                background-color: var(--col-5-);
                transition: all 300ms ease;
            }
        }
        & label{
            height: 90%;
            width: 80%;
            padding: 5% 10%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            & *{
                color: var(--col-2-);
                z-index: 10;
            }
        }
        & input[type="checkbox"]:checked{
            -webkit-box-shadow: 0px 10px 13px -7px var(--col-2-), 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px var(--col-2-), 5px 5px 15px 5px rgba(0,0,0,0);
        }
        & input[type="checkbox"]:checked::after{
            width: 100%;
        }
    }
}

@media (max-width: 1024px){
    *.information1{
        & .pic{
            width: 90vw;
            aspect-ratio: 4 / 3;
        }
        & .info1{
            width: 90vw;
        }
    }
    *.information2{
        width: 90vw;
    }
    *.information3{
        & .pic{
            width: 40vw;
        }
        & .info1{
            width: 40vw;
        }
    }
    *.info1{
        width: 40vw;
    }
    *.info2{
        width: 90vw;
    }
    *.picWrap2{
        & .pic{
            width: 43vw;
        }
    }
}

.backgroundImg{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

*.colorFull1{
    background: linear-gradient(90deg, var(--col-6-) 10%,var(--col-7-) 50%, var(--col-8-) 90%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull2{
    background: linear-gradient(90deg, var(--col-8-) 10%,var(--col-7-) 50%, var(--col-6-) 90%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull3{
    background: linear-gradient(135deg, var(--col-6-) 40%, var(--col-6-2-) 70%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull4{
    background: linear-gradient(135deg, var(--col-7-3-) 40%, var(--col-7-) 80%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull45{
    background: linear-gradient(135deg, var(--col-7-) 0%, var(--col-7-3-) 50%, var(--col-7-) 100%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull5{
    background: linear-gradient(135deg, var(--col-8-3-) 40%, var(--col-8-) 70%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull55{
    background: linear-gradient(135deg, var(--col-8-) 0%, var(--col-8-3-) 50%, var(--col-8-) 100%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull6{
    background: linear-gradient(135deg, var(--col-6-2-) 40%, var(--col-6-) 70%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull7{
    background: linear-gradient(135deg, var(--col-7-2-) 40%, var(--col-7-) 70%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull8{
    background: linear-gradient(135deg, var(--col-8-2-) 40%, var(--col-8-) 70%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull9{
    background: linear-gradient(135deg, var(--col-9-) 40%, var(--col-9-2-) 70%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull10{
    background: linear-gradient(135deg, var(--col-9-2-) 40%, var(--col-9-) 70%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFull11{
    background: linear-gradient(135deg, var(--col-8-) 40%, var(--col-9-) 70%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFullC1{
    background: radial-gradient(circle at 50% 10%, var(--col-4-) 10%, var(--col-5-) 100%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}
*.colorFullC3{
    background: radial-gradient(circle at 50% 10%, var(--col-7-) 10%, var(--col-2-) 100%);
    color: transparent;
    background-clip: text;
    pointer-events: none;
}


header{
    position: fixed;
    top: 0;
    height: 60px;
    width: 86vw;
    padding: 0 7vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    z-index: 100;
    backdrop-filter: blur(10px);

    & .logo1{
        position: absolute;
        left: 7vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        
        & *{
            font-weight: 600;
            font-family: var(--font-1-);
            scale: 1.2;
        }
        
    }
    & nav{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;

        & a{
            font-size: var(--sz-6-);
            font-family: var(--font-2-);
            font-weight: 400;
            line-height: 140%;
        }
        & .active{
            color: var(--col-3-);
        }
        & .buttonWrapper{
            display: none;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
            
            & *{
                border: none;
                background-color: transparent;
            }
        }
    }
    &.dark{
        & .logo1 *{
            color: var(--col-1-);
        }
        & nav{

            & *{
                color: var(--col-1-);
            }
        }
    }
}
#navigation{
    position: fixed;
    top: 0;
    height: 60px;
    width: 100vw;
    background-color: var(--col-4-);
    opacity: 0.75;
    z-index: 99;

    &.dark{
        background-color: var(--col-5-);
    }
}
#hero{
    padding: 0 0 0vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--col-2-);

    & h2{
        font-family: var(--font-1-);
    }
    & .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        & *{
            text-align: center;
        }
        & h5{
            font-weight: 600;
        }
    }
}
#legal{
    height: auto;
    width: 90vw;
    padding: 10vh 5vw 50px 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    & .overfiew{
        height: auto;
        width: 90vw;
        max-width: 950px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }
    & .wrapper{
        width: 90vw;
        max-width: 950px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 14px;

        & .theme{
            position: relative;
            height: auto;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            & p{
                width: 100%;
                color: var(--col-3-);
                font-weight: 400;
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: -30px;
                height: 0%;
                width: 2px;
                background-color: var(--col-2-);
                transition: all 500ms ease;
            }
            &.active{
                &::after{
                    top: 0;
                    height: 100%;
                }
                p{
                    color: var(--col-2-);
                }
            } 
        }
    }
    &.dark-background{
        & .wrapper{

            & .theme{
    
                & p{
                    color: var(--col-3-);
                }
                &::after{
                    background-color: var(--col-1-);
                }
                &.active{
                    p{
                        color: var(--col-1-);
                    }
                } 
            }
        }
    }
    
}
footer{
    position: relative;
    height: auto;
    width: 60vw;
    padding: 80px 20vw 200px 20vw;
    background-color: var(--col-1-);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;

    & .logo{
        position: absolute;
        top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;

        & *{
            color: var(--col-2-);
            font-family: var(--font-1-);
        }
        & h5{
            font-weight: 300;
        }
    }
    & .links{
        width: 110px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 7px;

        & *{
            color: var(--col-5-);
            font-weight: 300;
            
        }
        & .heading{
            margin-top: 20px;
            color: var(--col-2-);
            font-weight: 400;
        }
    }
    & .confwrapper{
        position: relative;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: solid var(--col-2-) 2px;
        background-color: transparent;
        border-radius: 30px;

        & input{
            height: 25px;
            width: 120px;
            background-color: transparent;
            border: none;
            outline: none;
            z-index: 4;
            text-align: center;
            font-size: var(--sz-6-);
            font-family: var(--font-2-);
            font-weight: 400;
        }
        & i{
            position: absolute;
            right: 10px;
            rotate: 45deg;
            transition: all 300ms ease;
            z-index: 5;
            color: var(--col-1-);
            font-weight: 500;
        }
        &:hover i{
            rotate: -45deg;
            color: var(--col-2-);
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 20vw;
        height: 1px;
        width: 60vw;
        background-color: var(--col-3-);
    }
    &.dark-background{
        & .logo{

            & *{
                color: var(--col-4-);
                font-family: var(--font-1-);
            }
        }
        & .links{
    
            & *{
                color: var(--col-3-); 
            }
            & .heading{
                color: var(--col-4-);
            }
        }
        & .confwrapper{
            position: relative;
            height: auto;
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border: solid var(--col-1-) 2px;
            background-color: transparent;
            border-radius: 30px;
    
            & input{
                height: 25px;
                width: 120px;
                background-color: transparent;
                border: none;
                outline: none;
                z-index: 4;
                text-align: center;
                font-size: var(--sz-6-);
                font-family: var(--font-2-);
                font-weight: 400;
            }
            & i{
                position: absolute;
                right: 10px;
                rotate: 45deg;
                transition: all 300ms ease;
                z-index: 5;
                color: var(--col-1-);
                font-weight: 500;
            }
            &:hover i{
                rotate: -45deg;
                color: var(--col-2-);
            }
        }
        &::after{
            background-color: var(--col-4-);
        }
    }
}
#cookieBanner{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 50px 5vw 50px 5vw;
    height: auto;
    width: 90vw;
    color: var(--col-2-);
    background-color: transparent;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 200;
    backdrop-filter: blur(10px);

    & .info{
        text-align: start;
        width: 980px;
        color: var(--col-2-);
    }

    & div{
        height: auto;
        width: 980px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--col-4-);
        opacity: 0.75;
        z-index: -5;
    }
    &.dark{

        & .info{
            color: var(--col-1-);
        }
        &::after{
            background-color: var(--col-5-);
        }
    }
}


@media (max-width: 1024px){
    footer{
        width: 90vw;
        padding: 80px 5vw 200px 5vw;

        &::after{
            left: 5vw;
            width: 90vw;
        }
    }
    #cookieBanner{
    
        & .info{
            width: 100%;
        }
    
        & div{
            width: 100%;
        }
    }
}